<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">{{source.name}}</h4>
        </div>
        <div class="modal-body">
            <h3 >Profession/Title: {{source.profession}}</h3>
            <p class="source">Phone Number: {{source.phone}}</p>
            <p  class="source">Email address: {{source.email}}</p>
            <p  class="source">Comments: {{source.other}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default"
            data-toggle="modal" data-target="#editSourceModal">Edit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="sourceCtrl.delete(source.id)">Delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>




<script>

</script>
