<div id="createSource">
  <form name="newSourceCtrl.sourceForm" class='sourceForm' ng-submit="newSourceCtrl.create()">
    <label>Title</label>
    <input type="text" name="name" ng-model="newSourceCtrl.source.name">
    <label>Profession</label>
    <input type="text" name="profession" ng-model="newSourceCtrl.source.profession">
    <label>Location</label>
    <input type="text" name="location" ng-model="newSourceCtrl.source.location"></input>
    <button class="new">New Source</button>
  </form>
</div>
