<!DOCTYPE html>
<html>
    <head>
        <title>SourceFourth</title>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
        <script src="/js/honeycombs.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/honeycombs.css" />
        <!-- <script src="../bower_components/angular/angular.min.js"></script> -->
        <!-- <script src="../bower_components/angular-route/angular-route.js"></script> -->
        <!-- <script src="../bower_components/angular-resource/angular-resource.js"></script> -->
        <!-- <script src="../bower_components/firebase/firebase.js"></script> -->
        <!-- <script src="../bower_components/angularfire/dist/angularfire.min.js"></script> -->
        <script src="/js/app.js"></script>
        <script src="/js/routes.js"></script>
        <script src="/js/controllers/sources.js"></script>
        <script src="/js/controllers/users.js"></script>
        <script src="/js/services/source.js"></script>
        <script src="/js/services/user.js"></script>
        <!-- <link rel="icon"
          type="image/png"
          href="/img/favicon.png"> -->
   </head>
   <body>
       {{#if currentUser}}
        <div ng-app="sourceFourth">
           Welcome User!
           <a href="/signout">Sign out</a>
           <div ng-view></div>
        </div>
        {{ else }}
           <h2>Sign In</h2>

           <form method="post" action="/signin">
             <input type="text" name="username" placeholder="Username">
             <input type="password" name="password" placeholder="password">
             <button>Sign In</button>
           </form>

        {{/if}}







  </body>
</html>
