<!DOCTYPE html>
<html>
    <head>
        <title>SourceFourth</title>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
        <script src="/js/honeycombs.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/css/lander.css" />
        <link rel="stylesheet" type="text/css" href="/css/honeycombs.css" />

        <!-- <script src="../bower_components/angular/angular.min.js"></script> -->
        <!-- <script src="../bower_components/angular-route/angular-route.js"></script> -->
        <!-- <script src="../bower_components/angular-resource/angular-resource.js"></script> -->
        <!-- <script src="../bower_components/firebase/firebase.js"></script> -->
        <!-- <script src="../bower_components/angularfire/dist/angularfire.min.js"></script> -->
        <script src="/js/app.js"></script>
        <script src="/js/routes.js"></script>
        <script src="/js/controllers/sources.js"></script>
        <script src="/js/controllers/users.js"></script>
        <script src="/js/services/source.js"></script>
        <script src="/js/services/user.js"></script>
        <!-- <link rel="icon"
          type="image/png"
          href="/img/favicon.png"> -->
   </head>
   <div class="nav">
       {{#if currentUser}}
           <button class="nav-button nav-floats"><a href="/signout">Sign out</a></button>
       {{else}}
           <button alt="Login Button" class="nav-button nav-floats" data-toggle="modal"
        data-target="#signInModal">Log In</button>
           <button alt="Sign Up Button" class="nav-button nav-floats"  data-toggle="modal"
        data-target="#signUpModal">Sign Up</button>
       {{/if}}
   </div>
   <body>
       {{#if currentUser}}
          <div ng-app="sourceFourth">
              <div ng-view></div>
         </div>
        {{ else }}
           <div class="hero">
           <div class="first-hero">
               <img src="" alt="logo" id="logo" />
               <div class="app-name-container">
                   <h1 class="app-name">SourceFourth</h1>
                   <h2 class="tagline"><span class="span1">Source</span>
                        <span class="span2">management</span>
                        <span class="span3">for</span>
                        <span class="span4">journalists.</class>
                    </h2>
                </div>
            </div>
            <div class="app-info">
                <img src="" alt="image of phone" id="phone"/>
                <div class="description-container">
                    <h4 class="app-description">You protect all of your sources...but does your software protect them? <span class="emphasis">SourceFourth</span> offers serious journalists a serious solution to contact management for today's story demands.</h4>
                    <!-- <button alt="Sign Up Button" class="nav-button signup-button"  data-toggle="modal" data-target="#signUpModal">Sign Up</button> -->
                </div>
            </div>
       </div>


<!-- signup Modal -->
       <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
           <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h4 class="modal-title" id="myModalLabel">Create An Account</h4>
                 </div>
                 <div class="modal-body">
                    <form method="post" action="/signup">
                        <h4 class="modal-label">Sign up with an <span class="emphasis">email address.</span></h4>
                        <input type="text" name="username" placeholder="Username">
                        <h4 class="modal-label"> Create a <span class="emphasis">password</span>.</h4>
                        <input type="password" name="password" placeholder="password">
                        <button src="" alt="sign up button" class="nav-button modal-button">Sign Up</button>
                    </form>
                 </div>
             </div>
           </div>
       </div>

       <!-- signin Modal -->
              <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Access Your Account</h4>
                        </div>
                        <div class="modal-body">
                           <form method="post" action="/signin">
                               <h4 class="modal-label">Username</h4>
                               <input type="text" name="username" placeholder="Username">
                               <h4 class="modal-label"> Password</h4>
                               <input type="password" name="password" placeholder="password">
                               <button src="" alt="sign up button" class="nav-button modal-button">Sign In</button>
                           </form>
                        </div>
                    </div>
                  </div>
              </div>


        {{/if}}
  </body>
</html>
